{% extends 'blog/base.html'%}
{% load staticfiles %}

{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'blog/img/about-bg.jpg'%}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <p>My name is Wen Zhu, a master candidate in Cornell University majoring in Electrical &amp; Computer Engineering and I will graduate on May this year. </p>
<p>I am solid in Java/Python/PHP programming languages and I have completed fundamental cs courses at Cornell including Object-oriented Programming, Data Structures, Database, Software Engineering, Machine Learning, etc.</p>

<p>I'm an Open Source enthusiast and I'm now participating in a project called <a href="http://codebender.cc"><code>Codebender</code></a> which is an online compiler for <a href="http://www.arduino.cc"><code>Arduino</code></a> programmers. I have finished the <a href="https://github.com/codebendercc/sketchFinder"><code>SkecthFinder</code></a> app in this project which is used to detect the Arduino projects and libraries imported by the users and am trying to merge the application to the website. You can browse other interesting projects I was involved in from my linkedin. You can also get a better understanding about my coding experience through my github: www.github.com/spoiledPiggy.</p>
<p>I'm currently seeking a full time job opportunity of software engineer and can be reached either via email <a href="mailto:kevin.wenzhu@gmail.com">kevin.wenzhu@gmail.com</a> or by phone 607-279-4154.</p>
            
            </div>
        </div>
    </div>

    <hr>

{% endblock content %}